<% if flash[:error] %>
    <div data-alert class='alert-box alert radius'>
        We're sorry, we couldn't save the info:
        <% flash[:error].each do |attr, messages| %>
          <% messages.each do | msg | %>
            <div class='row'><%= attr.to_s.humanize + ' ' + msg.capitalize %></div>
          <% end %>
        <% end %>
      <a href='#' class='close'>&times;</a>
    </div>
<% end %>
