<% if flash[:error] %>
    <div class='alert'>
			<a href='#' class='close'>&times;</a>
      <b>We're sorry, we couldn't save the info:</b>
      <% flash[:error].each do |attr, messages| %>
        <% messages.each do | msg | %>
          <div><%= attr.to_s.humanize + ' ' + msg.capitalize %></div>
        <% end %>
      <% end %>
    </div>
<% end %>
