<div class="content-fluid col-sm-6">
  <h1><%= "Edit #{@person.first_name} #{@person.last_name} information" %></h1>
  <hr>
  <%= render 'form' %>
  <div>
    <%= link_to 'Cancel', person_path(@person), class: 'btn btn-default' %>
  </div>
</div>
<br><br>
