<div class='large-12 columns'>
  <div class='row'>
    <div class='row final'></div>
      <center>
		<a class='header'><%= "Edit #{@person.first_name} #{@person.last_name} information" %></a>
      </center>
      <hr>
      <%= render 'form' %>
  </div>
</div>

<%= link_to 'Cancel', person_path(@person) %>
